#banner {
    font-family: $default_font;
    background-color: $bg_color;
.banner_text {
    h1 {
    font-size: 66px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 35px;
    line-height: 72px;
    @media (max-width: 748px) {
        font-size: 44px;
        line-height: 54px;
        margin-bottom: 20px;
        }
    }
    p {
    font-size: 15px;
    line-height: 1.8rem;
    margin-bottom: 70px;
    padding-right: 80px;
    font-weight: 300;
    @media (max-width: 748px) {
        margin-bottom: 30px;
        }
    }
    a {
        @extend %button;
        &:hover {
            @extend %button_hover;
        }
        @media (max-width: 748px) {
            margin-bottom: 50px;
            width: 100px;
            height: 40px;
            font-size: 12px;
            line-height: 34px;
            }
     }
    }
.banner_product_img {
        img {
            @extend %base_img;
        }
 }
}




