#products {
    font-family: $default_font;
.title {
        @include Flexible (flex-start,end,row,nowrap,60px);
        padding-bottom: 30px;
        h2 {
        font-size: 36px;
        color: $title_color;
        line-height: 27px;
        font-weight: 700;
        text-transform: capitalize;
        }
        span {
        color: $grey;
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
        }
    }
.product_card {
    border-radius: 5px;
    transition: 0.3s linear;
    background-color: $white_color;
    img {
        @extend %base_img;
    }
 &__text {
    line-height: 44px;
    transition: 0.3s linear;
 h4 {
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s linear;
    }
 h3 {
    font-weight: 300;
    font-size: 18px;
    transition: 0.3s linear;
}
a {
    color: $dropdown_color;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s linear;
    opacity: 0;
    visibility: hidden;
    
    i {
    padding-left: 90px;
    font-size: 18px;
    line-height: 26px;
    color: #000;
    transition: 0.3s linear;
    }
}
}
&:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 23, 51, 0.09);
}
&:hover a {
opacity: 1;
visibility: visible;
}
&:hover .product_card__text {
padding-left: 35px;
}
&:hover i {
    padding-left: 30px;
}
}
}
